header {
    min-height: 10rem;
    background: url(https://www.ctconnections.com.au/resources/uploads/2016/02/flying-high-demand-soars-corporate-business-travel-managers.jpg)
      no-repeat;
    background-size: cover;
  }